
TOKEN="YOUR_BOT_TOKEN_HERE"
PREFIX="?"
SHARD_COUNT="2"
BOT_NAME="Elara"

# Redis (Replish) Configuration
REDIS_URL="redis://YOUR_REDIS_HOST:PORT/0"
REDIS_PASSWORD="YOUR_REDIS_PASSWORD"

# Lavalink Configuration
LAVALINK_HOST="YOUR_LAVALINK_HOST"
LAVALINK_PORT="4040"
LAVALINK_PASSWORD="YOUR_LAVALINK_PASSWORD"
LAVALINK_SECURE="False"
DISCORD_CLIENT_ID="YOUR_CLIENT_ID"
DISCORD_CLIENT_SECRET="YOUR_CLIENT_SECRET"
DASHBOARD_SECRET="YOUR_DASHBOARD_SECRET"
DASHBOARD_BASE_URL="http://YOUR_DASHBOARD_URL"

# MongoDB Database Configuration
MONGO_URI="mongodb+srv://YOUR_MONGO_URI"


# Web / DashBoard
DASHBOARD_ENABLED="True"
WEB_HOST="0.0.0.0"
WEB_PORT="2030"


# Automation Features
SYNC_EMOJIS="true"

# Logging & Channel Configuration
REPORT_CHANNEL="YOUR_REPORT_CHANNEL_ID"
GUILD_JOIN_WEBHOOK=""
GUILD_LEAVE_WEBHOOK=""
SHARDS_LOG_WEBHOOK=""

# Authorized Users
DEVELOPER_IDS="YOUR_ID_HERE"
GIF_API_KEY="YOUR_GIF_API_KEY_HERE"

