setuptools
Quart
discord.py
Pillow
jishaku
discord-ext-menus
aiohttp
flask
psutil
requests
pymongo
wavelink
httpx
discord.ext-context
tasksio
motor
aiosqlite
gtts
langdetect
python-dotenv
PyYAML
openai
duckduckgo-search==6.3.6
colorama
chess
python-dateutil
deep-translator==1.11.4
fastapi
uvicorn
asyncpg
chat_exporter
pyfiglet
redis